<div id="main">
  <div id="baner">
    RPG DICES
  </div>
  <div id="content">
    <app-rolls-history></app-rolls-history>
    <div class="row">
      <dice-card diceValue="4" class="col"></dice-card>
      <dice-card diceValue="6" class="col"></dice-card>
      <dice-card diceValue="8" class="col"></dice-card>
    </div>
    <div class="row">
      <dice-card diceValue="10" class="col"></dice-card>
      <dice-card diceValue="12" class="col"></dice-card>
      <dice-card diceValue="20" class="col"></dice-card>
    </div>
  </div>
</div>